%h1 Here is your recent transaction with the Iron Shop

%ul
  - if @invoice
    - @invoice.items.each do |item|
      %li.row
        .col-lg-6
          = item.title
        .col-lg-6
          = item.price

%hr
%h2 Thank you for shopping with us.
